body{
    display: flex;
    justify-content: center;
    align-items: center;
    height:100vh;
 }
 
 .container {
     width: 350px;
     border: 1px solid #000;
     padding: 50px;
     background: #80d512;
 }
 
 .form-group{
     
     display: grid;
 
 }
 input{
     padding: 10px;
 
 }
 .btn{
     display: flex;
     justify-content: center;
     align-items: center;
     margin-top: 10px;
     
 }
 button{
     width: 100%;
     padding: 10px;
     background: rgb(200, 144, 13);
     border:none;
     color: #f2f2f2;
     border-radius: 10px;
 }